<!-- about section
   ================================================== -->
<section id="about">


  <div class="row section-intro">
    <div class="col-twelve">
      <h5>About</h5>
      <h1>Let me introduce myself.</h1>

      <div class="intro-info">
        <img src="../assets/images/profile-pic.jpg" alt="Profile Picture" />

        <p class="lead">
          Hello, I'm Ishaque, a skilled machine learning engineer with expertise in backend development and data science. I'm proficient in technologies such as FastAPI, Django, TensorFlow, and PyTorch. As a passionate software developer, I enjoy using my skills to create innovative applications that leverage machine learning algorithms and data analysis to make a real difference in people's lives.

With my proficiency in backend development using FastAPI and Django, I can efficiently design and implement robust APIs that are scalable and secure. I have experience in building RESTful APIs, handling authentication and authorization, and integrating with databases and other third-party services.

In addition, my expertise in machine learning frameworks such as TensorFlow and PyTorch allows me to develop and deploy machine learning models for various use cases, such as image recognition, natural language processing, and recommendation systems. I have experience in training and fine-tuning deep learning models, optimizing model performance, and deploying models in production environments.

I thrive on tackling complex problems and delivering top-notch results, whether working independently or collaboratively. If you're looking for a talented machine learning engineer with expertise in backend development, data science, FastAPI, Django, TensorFlow, and PyTorch, don't hesitate to reach out to me. I'm excited to leverage my skills to create cutting-edge applications that drive meaningful outcomes.
        </p>
      </div>
    </div>
  </div>
  <!-- /section-intro -->

  <div class="row about-content">
    <div class="col-six tab-full">
      <h3>Profile</h3>
      <p class="lead">
        As a self-motivated and hardworking professional, I am seeking an opportunity to work in a competitive environment where 
        I can showcase my abilities and contribute my knowledge and intelligence to drive the company's progress.
      </p>

      <ul class="info-list">
        <li>
          <strong>Full name:</strong>
          <span>Muhammad Ishaque Nizamani</span>
        </li>
      
        <li>
          <strong>Job:</strong>
          <span>Machine Learning Engineer</span>
        </li>
        <li>
          <strong>Website:</strong>
          <span><a href="https://ishaque-niz.web.app/">https://ishaque-niz.web.app/</a></span>
        </li>
        <li>
          <strong>Email:</strong>
          <span>ishaque.niz786@gmail.com</span>
        </li>
      </ul>
      <!-- /info-list -->
    </div>

    <div class="col-six tab-full">
      <h3>Skills</h3>
      <p class="lead">
        Here are some of my strong points, and more skills that I haven't
        mentioned yet can be brought up during the interview.
      </p>
      
      
      <div class="container">
        <!--  -->
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="sbtn col-3 col-sm-3 col-md-3 col-lg-4">Python</button>
            <button type="button" class="sbtn col-5 col-sm-4 col-md-5 col-lg-5">Django</button>
            <button type="button" class="sbtn col-4 col-sm-7 col-md-7 col-lg-7">Computer Vision</button>
          </div>
        </div>
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="sbtn col-4 col-sm-4 col-md-4 col-lg-5">TensorFlow</button>
            <button type="button" class="sbtn col-4 col-sm-4 col-md-4 col-lg-5">PyTorch</button>
            <button type="button" class="sbtn col-3 col-sm-4 col-md-3 col-lg-4">FastAPI</button>
          </div>
        </div>
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="sbtn col-5 col-sm-5 col-md-5 col-lg-5">GraphQL</button>
            <button type="button" class="sbtn col-3 col-sm-4 col-md-3 col-lg-4">MongoDB</button>
            <button type="button" class="sbtn col-4 col-sm-4 col-md-4 col-lg-5">REST API</button>
          </div>
        </div>
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="sbtn col-6 col-sm-5 col-md-6 col-lg-6 col-xl-5">Linux</button>
            <button type="button" class="sbtn col-3 col-sm-5 col-md-3 col-lg-3 col-xl-5">Kubernetes</button>
            <button type="button" class="sbtn col-3 col-sm-4 col-md-4 col-lg-5 col-xl-5">Docker</button>
          </div>
        </div>
        <div class="row">
          <div class=" btn-group">
            <button type="button" class="sbtn col-5 col-sm-4 col-md-4 col-lg-5">Flutter</button>
            <button type="button" class="sbtn col-3 col-sm-4 col-md-4 col-lg-4">Dart</button>
            <button type="button" class="sbtn col-4 col-sm-4 col-md-4 col-lg-5">Firebase</button>
          </div>
        </div>
        <div class="row">
          <div class="btn-group">
            <button type="button" class="sbtn col-4 col-sm-4 col-md-4 col-lg-4">HTML5</button>
            <button type="button" class="sbtn col-3 col-sm-3 col-md-3 col-lg-3">SCSS</button>
            <button type="button" class="sbtn col-5 col-sm-5 col-md-5 col-lg-5">BOOTSTRAP</button>
          </div>
        </div>
        <div class="row">
          <div class="btn-group">
            <button type="button" class="sbtn col-4 col-sm-4 col-md-4 col-lg-4">GitHub</button>
            <button type="button" class="sbtn col-3 col-sm-3 col-md-3 col-lg-3">GCP</button>
            <button type="button" class="sbtn col-5 col-sm-5 col-md-5 col-lg-5">Heroku</button>
          </div>
        </div>
      </div>

      <!-- /skill-bars -->
    </div>
  </div>

  <div class="row button-section">
    <div class="col-twelve">
      <a href="#contact" title="Hire Me" class="button stroke smoothscroll"
        >Hire Me</a
      >
      <a title="Download CV" href="../../assets/Ishaque.pdf" class="button button-primary" download="Ahmed_CV.pdf"
        >Download CV</a
      >
    </div>
  </div>





</section>
<!-- /process-->
