<!-- intro section
   ================================================== -->
   <section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content">
      <div class="row">

        <div class="col-twelve">

          <h5>Machine Learning Engineer</h5>
          <h1>I'm Muhammad Ishaque.</h1>

          <p class="intro-position">
            <span>Machine Learning</span>
            <span>Back-end Developer</span>
            <span>Data Scientist</span>
          </p>

          <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

        </div>

      </div>
    </div> <!-- /intro-content -->

    <ul class="intro-social">
        <li><a target="_blank" href="https://m.facebook.com/muhammadishaque.nizamani.9"><i class="fab fa-facebook-square fa-lg"></i></a></li>
        <li><a target="_blank" href="https://github.com/MuhammadNizamani"><i class="fab fa-github-square fa-lg"></i></a></li>
        <li><a target="_blank" href="https://www.kaggle.com/muhammadishaque"><i class="fab fa-kaggle fa-lg"></i></a></li>
        <li><a target="_blank" href="https://stackoverflow.com/users/11083250/ishaque3-nizamani"><i class="fab fa-stack-overflow fa-lg"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/muhammad-ishaque-nizamani-109a13194/"><i class="fab fa-linkedin fa-lg"></i></a></li>

     </ul> <!-- /intro-social -->

  </section> <!-- /intro -->
