<section>
  <div class="skills">

    <owl-carousel-o [options]="customOptions" class="owlImages">
      
      <ng-template carouselSlide="true">
        <img src="../../assets/images/skillsLogo/flutter.png" style="margin-top: 40px;">
        <!-- /service -->
      </ng-template>
      <ng-template carouselSlide="true">
        <img src="../../assets/images/skillsLogo/firebase.png" style="margin-top: 40px;">
        <!-- /service -->
      </ng-template>
      <ng-template carouselSlide="true">
        <img src="../../assets/images/skillsLogo/docker.png" style="margin-top: 40px;">
        <!-- /service -->
      </ng-template>
     
      <ng-template carouselSlide="true">
        <img src="../../assets/images/skillsLogo/rest.jfif" style="margin-top: 40px;">
        <!-- /service -->
      </ng-template>
      <ng-template carouselSlide="true">
        <img src="../../assets/images/skillsLogo/bootstrap.png">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/mysql.png" style="margin-top: 12px;">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/html.png">
      <!-- /service -->
    </ng-template>

    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/Pandas_logo.svg.png" style="margin-top: 50px;">
      <!-- /service -->
    </ng-template>
    
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/fast.png" style="margin-top: 35px;">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/dj.png" style="margin-top: 12px;">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/css.png">
      <!-- /service -->
    </ng-template>

    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/tesnor.png" style="margin-top: 12px;">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/np.png" style="margin-top: 12px;">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/git.png">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/hk.png">
      <!-- /service -->
    </ng-template>
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/gcp.png" style="margin-top: 30px;">
      <!-- /service -->
    </ng-template>
    

    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/md.png">
      <!-- /service -->
    </ng-template>


    
  <ng-template carouselSlide="true">
    <img src="../../assets/images/skillsLogo/graphql.png" style="margin-top: 10px;">
    <!-- /service -->
  </ng-template>

    

    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/kb.png" style="margin-top: 20px;">
      <!-- /service -->
    </ng-template>

    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/linux.png">
      <!-- /service -->
    </ng-template>
    
    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/pytorch.png" style="margin-top: 12px;">
      <!-- /service -->
    </ng-template>
    
  

  

    <ng-template carouselSlide="true">
      <img src="../../assets/images/skillsLogo/opencv.png" style="margin-top: 12px;">
      <!-- /service -->
    </ng-template>
    
    
    
  </owl-carousel-o>
</div>

</section>
