<!-- resume Section
   ================================================== -->
<section id="resume" class="grey-section">
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>Resume</h5>
      <h1>More of my credentials.</h1>

      <p class="lead">
        Here is my work as a fresher during graduation, as well as my academic
        record.
      </p>
    </div>
  </div>
  <!-- /section-intro-->

  <div class="row resume-timeline">
    <div class="col-twelve resume-header">
      <h2>Work Experience</h2>
    </div>
    <!-- /resume-header -->

    <div class="col-twelve">
      <div class="timeline-wrap">
        <div class="timeline-block">
          <div class="timeline-ico">
            <i class="fas fa-brain"></i>
            
          </div>

          <div class="timeline-header">
            <h3>Machine learning Engineer</h3>
            <p>MAY 2021 - DEC 2021</p>
          </div>

          <div class="timeline-content">
            <h4>AIME</h4>
            <p>
              As a Machine Learning Engineer at AIME, I transformed raw data into valuable insights for clients. 
              This included data preprocessing, model development, deployment, and evaluation. 
              I collaborated with cross-functional teams, conducted data analysis and EDA, developed machine learning models, and optimized their performance in production environments. 
              I stayed updated with the latest advancements in the field to deliver exceptional results.
            </p>
          </div>
        </div>
        <!-- /timeline-block -->

        <div class="timeline-block">
          <div class="timeline-ico">
            <i class="fas fa-code"></i>
          </div>

          <div class="timeline-header">
            <h3>Backed Developer</h3>
            <p>JAN 2021 - MAY 2022</p>
          </div>

          <div class="timeline-content">
            <h4>Erxa</h4>
            <p>
              As a Backend Developer at Erxa, I was responsible for creating and managing databases using MySQL. 
              I also developed REST APIs using Django and FastAPI frameworks, and successfully deployed them on Heroku. 
              This involved designing and implementing efficient database structures, handling data processing tasks, and optimizing API performance. 
              My role required strong expertise in backend development, database management, and deployment on cloud platforms.
            </p>
          </div>
        </div>
        <!-- /timeline-block -->

        <div class="timeline-block">
          <div class="timeline-ico">
            <i class="fa fa-graduation-cap"></i>
          </div>

          <div class="timeline-header">
            <h3>SMART AGRICULTURE AND SOIL DETECTION TECHNIQUE</h3>
            <p>May 2020 - December 2020</p>
          </div>

          <div class="timeline-content">
            <h4>Mehran University of Engineering and Technology</h4>
            <p>
              During my final year of studies, I presented a thesis project that addressed common issues faced by farmers, 
              such as soil and region fertility, soil characteristics, soil pH, and moisture characteristics in the soil. 
              To solve these problems, I developed a combined software-hardware solution. 
              The software component was created using "Flutter" to develop a cross-platform application that connected to a back-end system. 
              The software digitally analyzed soil images to obtain moisture results, 
              which were then compared with the results obtained from the hardware component. 
              The hardware component utilized an Arduino-based kit with moisture and pH sensors to detect soil moisture and pH levels. 
              The combined technique of software and hardware yielded comparable results for soil pH and moisture, providing a feasible solution for farmers.
            </p>
          </div>
        </div>
        <!-- /timeline-block -->
      </div>
      <!-- /timeline-wrap -->
    </div>
    <!-- /col-twelve -->
  </div>
  <!-- /resume-timeline -->

  <div class="row resume-timeline">
    <div class="col-twelve resume-header">
      <h2>Education</h2>
    </div>
    <!-- /resume-header -->

    <div class="col-twelve">
      <div class="timeline-wrap">
        <div class="timeline-block">
          <div class="timeline-ico">
            <i class="fas fa-user-graduate fa-lg"></i>
          </div>

          <div class="timeline-header">
            <h3>Bachelor Degree</h3>
            <p>NOV 2016 - NOV 2020</p>
          </div>

          <div class="timeline-content">
            <h4>Mehran University of Engineering and Technology</h4>
            <p>
              I embarked on my academic journey in Computer System Engineering in NOV-2016, initially with limited familiarity in the field of computer engineering               . 
              However, as I progressed in my studies, I quickly gained a strong grasp of the principles of programming and software development, 
              which became second nature to me. In order to stay current in this rapidly evolving field, 
              I am committed to ongoing learning and regularly acquiring new knowledge about the latest technologies. 
              I believe that continuous learning is essential, and 
              I strive to expand my skills and knowledge to stay ahead in the field of computer system engineering.
            </p>
          </div>
        </div>
        <!-- /timeline-block -->

        <div class="timeline-block">
          <div class="timeline-ico">
            <i class="fas fa-university"></i>
          </div>

          <div class="timeline-header">
            <h3>Entermediate</h3>
            <p>2014 - 2016</p>
          </div>

          <div class="timeline-content">
            <h4>Collage</h4>
            <p>
              In college, I study mathematics, physics, chemistry, and other
              science disciplines. I was Class Representative and also the
              Chess team leader at the time.
            </p>
          </div>
        </div>
        <!-- /timeline-block -->

        <div class="timeline-block">
          <div class="timeline-ico">
            <i class="fas fa-school"></i>
          </div>

          <div class="timeline-header">
            <h3>Secondary School</h3>
            <p>2012 - 2014</p>
          </div>

          <div class="timeline-content">
            <h4>School</h4>
            <p>
              I began 9th grade in 2012, studying science courses, and
              subsequently advanced to 10th grade after passing 9th grade. I
              used to play Football at the time.
            </p>
          </div>
        </div>
        <!-- /timeline-block -->
      </div>
      <!-- /timeline-wrap -->
    </div>
    <!-- /col-twelve -->
  </div>
  <!-- /resume-timeline -->
</section>
<!-- /features -->
